<div class="container contents">
  <div class="headerTitle">
    <h3>GIFCAM</h3>
  </div>
  <div class="horizontal-scroller">
    <a routerLink="/search/ulta pulta" [queryParams]="{ 'u': 'app_client'}">
      <img src="https://api.gifkaro.com/gift/v2/app_client/media/Yl85ZjNodm1rLXN3QTdvSDNqNXhYZz09/rgif">
    </a>
    <a routerLink="/search/magic" [queryParams]="{ 'u': 'app_client'}">
      <img src="https://api.gifkaro.com/gift/v2/app_client/media/WF9WRXZwdmEtaWZIMXFrUVFIT1l0Zz09/rgif">
    </a>
    <a routerLink="/search/video2gif" [queryParams]="{ 'u': 'app_client'}">
      <img src="https://api.gifkaro.com/gift/v2/app_client/media/bGloR0RlM1pwOUQ0X1N5eVQ4QWNhQT09/rgif">
    </a>
  </div>
  <div class="headerTitle">
    <h3>Trending Now</h3>
  </div>
  <div id="content-scroller">
    <div>
      <app-infinite-component id="home-infinite-component" [dataList]="dataList" 
          (loadMoreData)="onLoadMoreData()"></app-infinite-component>
      
      <!--loading-->
      <div class="loading loading-more-indicator" *ngIf="showLoader">
        <div class="lds-ripple"><span></span><span></span><span></span></div>
      </div>
      <!--// loading-->
    </div>
  </div>
</div>