body{ margin:0;}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Gudea', sans-serif;
}
body p {
	font-family: 'Gudea', sans-serif;
}
ul, ol {
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
}
a {
	outline:none;
}
a:hover {
	outline:none;
}
a:focus {
	outline:none;
}
body {
	background:#000;
	font-family: 'Roboto', sans-serif;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #00d062; 
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #00d062; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #00d062;
}
.planTexts {
	color:#FFF;
	text-align:justify;
}
.main {
	max-width: 100%;
    background: #000;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
 
.header {
	width:100%;
	padding:0;
	margin:0;
}
.logo {
	float:left;
	width:50%;
	vertical-align:top;
	margin-top:10px;
	height:30px;
}
.logo.right {
	float: right;
	display: flex;
	justify-content: space-between;
	width: 30%;
	max-width: 100px;
}
.logo.right div {
	cursor: pointer;
}
.logo img {
    height: 20px;
}
.search {
	width: 100%;
    float: left;
	vertical-align:top;
}
.search form {
	float:left;
	width:100%;
	font-family: 'Gudea', sans-serif;
}
.search input[type="search"] {
	width: calc(100% - 40px) !important;
	float:left;
	box-shadow: none !important;
	border:1px solid #555;
	color:#000;
	padding:10px 10px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.searchbox.ng-valid-required {
	border:1px solid #16AB4D !important;
}
#bs-example-navbar-collapse-1 {
	background:#333 !important;
}
.search .searchBtn {
	background:#16AB4D none repeat scroll 0 0;
	border:0px solid #16AB4D !important;
	border: 0 none;
	display: block;
	float: right;
	cursor:pointer;
	height: 42px;
	width: 40px;
	padding:7px 10px 8px;
	color:#FFF;
	font-size:20px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	/*-- agileits --*/
    -o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.search .searchBtn img {
	width: 100%;
}
/* General Menu Styles */

.menu {
	 background:#00d062;
	 display:block;
	 width:100%;
	 list-style:none;
	 padding:0;
	 margin:0;
	 height:40px;
	 overflow: hidden;
}
.menu > li {
	display:inline-block;
}
.menu a {
	display: inline-block;
	text-decoration: none;
	padding:9px 10px;
	color: #FFF;
	text-transform:capitalize;
	font-size:16px;
}
.menu a:hover {
	background-color: #16AB4D;
	color: #fff;
}
.menu a:active {
	background-color: #FFF;
	color: #333;
}
.menu a:focus {
	background-color: #FFF;
	color: #333;
}
.flex-multi {
	float: left;
	width: 45%;
	margin-bottom: 100px;
}
.flex-multi + .flex-multi {
	float: right;
}
.clear {
	clear: both;
}
/* flexMenu styles */
.flexMenu-viewMore{float:right !important;}
.flexMenu-viewMore > a {
	background-color: #42A89E;
	color:#FFF !important;
        width:40px; text-align:center;
}
.flexMenu-viewMore.active > a, .flexMenu-viewMore > a:hover, .flexMenu-viewMore > a:focus{
	background-color: #42A89E !important;
}
.flexMenu-popup {
list-style-type: none;
padding: 0;
background-color: #42A89E;
margin: 0 0 0 -110px;
z-index: 999;
width: 150px;
}
.flexMenu-popup a {
	display: block;
}
.flexMenu-popup a:hover {
	background-color: #FFF;
	color: #000;
	display: block;
}
.footer {
	
	display:block;
	float:left; 
	width:100%;
	margin-top:80px;
}
.footer .footer_copy {background:#333;
	text-align:center;
	color:#FFF;
	padding:10px 20px 10px;
}
.footer_copy p{ margin:0 !important;}
.footer .footer_copy a {
	color:#16AB4D;
	text-decoration:none;
}
.footer .footer_copy a:hover {
	color:#FFFs;
	text-decoration:none;
}
.loading {
	width:100%;
	text-align:center;
}
@-webkit-keyframes lds-ripple {
	0% {
	top: 30px;
	left: 30px;
	width: 0;
	height: 0;
	opacity: 1;
}
100% {
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	opacity: 0;
}
}
@keyframes lds-ripple {
	0% {
	top: 30px;
	left: 30px;
	width: 0;
	height: 0;
	opacity: 1;
}
100% {
	top: 15px;
	left: 15px;
	width: 30px;
	height: 30px;
	opacity: 0;
}
}
.lds-ripple {
	position: relative;
    width: 60px;
    height: 60px;
    margin: 20px auto;
    background-image: url(/assets/images/loader.gif);
    background-size: cover;
}
.lds-ripple span {
	display: none;
	/*box-sizing: content-box;
	position: absolute;
	border-width: 3px;
	border-style: solid;
	opacity: 1;
	border-radius: 50%;
	-webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;*/
}
.lds-ripple span:nth-child(1) {
	border-color: #FFF;
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
	margin:2px;
}
.lds-ripple span:nth-child(2) {
	border-color: #18c033;
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
	margin:2px;
}
.lds-ripple span:nth-child(3) {
	border-color: #42A89E;
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
	margin:2px;
}
 
.headerTitle {
	display:block;
	width:100%;
}
.headerTitle h3 {
	font-size:15px;
	text-transform:capitalize !important;
	color:#FFF;
	/*padding:6px 10px 5px;*/
	margin-top:10px;
	/*background:rgba(255, 255, 255, 0.1);*/
}
.home.row {
	margin-left: -10px;
	margin-right: -0px;
}
.row {
	margin-left: -6px;
	margin-right: -6px;
}
.rightContent {
	padding:0;
}
.imageArea {
	/*min-height:250px;*/
	/*max-height:600px;*/
	height:100%;
	text-align: center;
	width: fit-content;
    margin: auto;
}
.imageArea .loading {
	height: 60px;
    margin-top: 10px;
}
.imageArea figure {
	position: relative;
	padding: 10px;
    margin-top: -70px;
}
.imageArea figcaption {
    color: #fff;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
	width: 100%;
	font-size: 16px;
}
.imageArea img {
	vertical-align: middle;
	max-width: 100%;
}
.rightContent .mainImg {
	width:100%;
	max-width:100%;
	border:5px solid #000;
	text-align:center;
	display:block;
	min-height:300px;
	/*background:#000 url(../images/loader.gif) no-repeat center center;*/
	background-size:40px 40px;
}
.rightContent .mainImg img {
	/*height:100%;*/
	max-width:100%;
}
.sidebarLeft {
	padding:20px 0px;
}
.sidebarLeft H3 {
	color:#555;
	font-weight:bold;
	font-size:1.3em;
	font-weight:normal;
}
.social-share-container{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 10px auto 0;
}
.socialShare i {
	font-size:1.2em;
	/*color:#16AB4D;*/
	margin-right:2px;
	cursor:pointer;
}
.socisocialShareal i:hover {
	color:#FFF !important;
}
.socialShare a {
	cursor:pointer;
}
.socialShare a:hover{
    text-decoration: none;
}
.social {
	padding:10px 0;
	border-top:1px dashed #555;
	margin-top:20px;
}
.social h4 {
	display:block;
	font-size:1.3em;
	font-weight:normal;
	padding:5px 0;
	color:#555;
	margin-bottom:8px;
	text-align:left;
}
.social a {
	background:#333;
	display:inline-block;
	width:30px;
	height:30px;
	margin-right: 5px;
	text-align:center;
}
.social a:hover {
	background:#16AB4D;
	cursor:pointer;
}
.social i {
	font-size:1.3em;
	color:#FFF;
	cursor:pointer;
}
.tags {
	padding:10px 0;
	border-top:1px dashed #555;
	margin-top:0px;
	cursor:pointer;
}
.tags i {
	color:#16AB4D;
	font-size:1.5em;
	margin-right:10px;
}
.tags h4 {
	display:block;
	font-size:18px;
	font-weight:bold;
	padding:5px 0;
	color:#555;
	margin-bottom:8px;
	text-align:left;
}
.tags a {
	display:inline-block;
	font-size:15px;
	font-weight:bold;
	padding:5px 0;
	color:#555;
	margin-bottom:8px;
	text-align:left;
}
.tags a:hover, a:focus {
	text-decoration:none;
	color:#16AB4D;
	outline:none;
}
.bottom_Area {
	font-size:13px;
	color:#FFF;
}
/* Prevent vertical gaps */
.contents {
	padding-bottom:10px;
	min-height:70vh;
}
.modal-header {
	border-bottom:1px solid #555 !important;
	color:#FFF;
}
.modal-content {
	background:#333 !important;
	border-radius:0 !important;
}
.close {
	color:#FFF !important;
	opacity:1 !important
}
.close:hover {
	color:red !important;
	opacity:1 !important
}
.modal-content textarea {
	background:transparent;
	color:#FFF;
	width:100%;
	overflow:hidden;
	margin-top:10px;
	padding:5px !important;
	margin:0;
	border:1px solid #555 !important;
	height:100px;
	word-wrap: normal;
}

#content-scroller{
  overflow: visible;
}

md-toolbar button.md-button.md-icon-button:first-child {
  margin-left: 0px;
  margin-right: 16px;
}

md-toolbar button.md-button.md-icon-button:first-child md-icon {
  color: white;
}

md-content {
  background: #eeeeee;
  position: relative;
}

.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#summary {
  margin: 32px 72px;
}

.horizontal-scroller {
	width: 100%;
	margin: auto;
	white-space: nowrap;
	overflow-x: auto;
}

.horizontal-scroller img {
	height: 160px;
	padding: 10px 0;
}
.horizontal-scroller a {
    padding: 0 5px;
}

.card {
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-size:30px 30px !important;
  height: fit-content;
  width: 100%;
  margin: 5px 0;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  min-width: 100px;
  max-width: 400px;
  min-height: 100px;
  max-height: 400px;
}

.cardx:nth-child(1n){ background:#69C802;}
.cardx:nth-child(2n){ background:#66E0FF;}
.cardx:nth-child(3n){ background:#FDBD83;}
.cardx:nth-child(4n){ background:#C257FF;}
.cardx:nth-child(5n){ background:#FEAC2E;}
.cardx:nth-child(6n){ background:#E04CFB;}
.cardx:nth-child(7n){ background:#94FF97;}

.card.angular-grid-item {
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
  
}

.card .img {
  width:100%; display:block;background-position: center;
  background-size:cover !important;background-position: 50% 50%; 
  min-width: 100px;
  max-width: 400px;
  min-height: 100px;
  max-height: 340px;
}
.cardx .inside {
  padding: 10px !important;
  display:block;
  word-wrap: break-word;
}
.cardz{ min-height:70vh;}
.cardx .inside h3 {
	margin-top: 0;
    font-size: 17px;
    font-family: roboto;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.cardx .inside a {
  color: #333;
  display:block;
  text-decoration: none;
}
.cardx div.desc{
	position: absolute;
	pointer-events: none;
    width: 100%;
    height: 100% !important;
    display: block;
    background: rgba(0,0,0,.7);
    box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
   -webkit-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
   -moz-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
    left: 0;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.cardx div.desc span{
    display: block;
    vertical-align: middle;
    position: absolute;
    opacity: 1;
    width: 100%;
    top: 45%;
    color: #FFF;
    text-transform: uppercase;
}
.cardx .inside a:hover {
  text-decoration: underline;
}

.cardx .inside .description {
	font-size: 14px;
	line-height: 1.3;
	margin-top: 3px;
	font-family: roboto;
    text-transform: capitalize;
    color: #fff;
}
/*#content-scroller ng-masonry-grid.grid ng-masonry-grid-item.cardx,
.relatedData ng-masonry-grid.grid ng-masonry-grid-item.cardx {
	width: 100%;
}*/
ng-masonry-grid.grid {
	max-width: 150% !important;
}
@media (min-width: 800px) {
	/*3*/
	#content-scroller ng-masonry-grid.grid ng-masonry-grid-item.cardx {
		width: 230px;
	}
	ng-masonry-grid.grid {
		width: 720px;
	}
}
@media (min-width: 1000px) {
	/*4*/
	#content-scroller ng-masonry-grid.grid ng-masonry-grid-item.cardx {
		width: 226px;
	}
	ng-masonry-grid.grid {
		width: 955px;
	}
}
@media (min-width: 1200px) {
	/*5*/
	#content-scroller ng-masonry-grid.grid ng-masonry-grid-item.cardx {
		width: 218px;
	}
	ng-masonry-grid.grid {
		width: 1150px;
	}
}
a.img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-height: 300px;
    overflow: hidden;
}

#content-scroller ng-masonry-grid.grid ng-masonry-grid-item.cardx {
	visibility: hidden;
	margin: 5px;
}
#content-scroller ng-masonry-grid.grid ng-masonry-grid-item.cardx.loaded {
	visibility: visible;
}
@media screen and (max-width: 800px) {
	#content-scroller ng-masonry-grid.grid ng-masonry-grid-item.cardx {
		margin: 1%;
	}
}
@media screen and (max-width: 400px) {
	#content-scroller ng-masonry-grid.grid ng-masonry-grid-item.cardx {
		margin: 1% 0;
	}
}

.img img {
	width: 100%;
}
.img img.loaded {
}

.color-white{ color:#FFF !important; margin:10px 0;}

textarea {
    resize: none;
}

app-setting {
	position: relative;
	float: left;
    top: -43px;
    background: #00d062;
    width: 100%;
    z-index: 10;
	height: 100%;
	margin-bottom: -100%
}

.up-pointer {
	width: 0;
    height: 0;
    right: 4px;
    border-bottom: 7px solid #0a5d91;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: -7px;
}

app-setting h3 {
	font-weight: bold;
    padding: 20px 20px 10px;
    color: white;
}
app-setting ul.languages{
	list-style-type: none;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
	list-style-position: inside;
	color: #FFFFFF;
	margin-bottom: 20px;
}
app-setting ul.languages li {
	padding: 5px 20px;
    font-size: 15px;
    cursor: pointer;
}

.cdk-overlay-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    top: 0;
}

.cdk-global-overlay-wrapper {
    margin: 10% auto;
    position: fixed;
    display: flex;
    top: 0;
	width: 100%;
}
.cdk-overlay-pane {
	background: green;
}

.mat-button {
	background: white;
    padding: 5px 20px;
    border-radius: 2px;
	box-shadow: 2px 3px 7px #000;
	cursor: pointer;
}

app-dialog .mat-dialog-title {
	color: white;
}