<div class="header">
  <div class="container">
    <div class="logo"> <a href="/"><img src="/assets/images/logo.png"  style="width:80px" /> </a> </div>
    <div class="search">
      <input type="search" name="search" placeholder="Search Gif's"  ng-model="searchkey" />
      <a class="searchBtn" href="/search-result/{{searchkey}}"><i class="fa fa-search" aria-hidden="true"></i></a> </div>
  </div>
  <!--nav-->
  <div class="tops-nav" >
    <div class="container">
      <div class="menux">
        <ul class="menu flex">
          <li #categoryItems *ngFor="let category of categories">
            <a href="/search/{{category.replace(' ','-')}}/">{{category}}</a>
          </li>
        </ul>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!--// nav-->
  </div>
</div>
<div class="container contents" layout="column" layout-fill>
  <div class="headerTitle">
      <h3>Trending Now</h3>
  </div>
  <div id="content-scroller">
      <div>
        <div class="cards-wrap">
          <div class="card cardx" *ngFor="let data of dataList" >
           <a class="img" href="/gifs/{{data.giftuid}}" [style.background-image]="getSanitizedGifUrl(data)" 
              [style.min-height]="getGifMinHeight(data)"></a> 
            <div class="inside">
              <h3>{{data.category}} </h3>
              <div class="description">{{data.group}} </div>
            </div>
          </div>
        </div>
        <!--loading--> 
        <div class="loading loading-more-indicator" *ngIf="showLoader">
            <div class="lds-ripple"><span></span><span></span><span></span></div>
        </div>
        <!--// loading--> 
      </div>
    </div>
</div>