<div class="container contents" layout="column">
  <div class="headerTitle">
    <h3>{{category}}<span *ngIf="group != ''"> / {{group}}</span></h3>
  </div>
  <div id="content-scroller">
    <div>
      <div id="columns" class="cards-wrap" *ngIf="groupDataList.length > 0" infiniteScroll 
            [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScrollGroups()">
        <div class="card cardx" *ngFor="let data of groupDataList" [style.height]="getGifMinHeight(data)">
          <a class="img" [routerLink]="getGroupSearchLink(data)" [style.background-image]="getSanitizedGifUrl(data)" 
              [style.height]="getGifMinHeight(data)"></a>
          <div class="desc">
            <span class="description">{{data.group}}</span> 
          </div>
        </div>
      </div>

      <app-infinite-component [dataList]="categoryGroupSearchDataList" (loadMoreData)="onLoadMoreData()"></app-infinite-component>

      <!--loading-->
      <div class="loading loading-more-indicator" *ngIf="showLoader">
        <div class="lds-ripple"><span></span><span></span><span></span></div>
      </div>
      <!--// loading-->
    </div>
  </div>
</div>