<div class="container contents" layout="column">
  <div class="headerTitle">
    <h3>{{display_category}}<span *ngIf="group != ''"> / {{display_group}}</span></h3>
  </div>
  <div id="content-scroller">
    <div>
      <ng-masonry-grid id="search-component" *ngIf="groupDataList.length > 0"
          [masonryOptions]="{ transitionDuration: '0s', gutter: 10 }"
          [useAnimation]="false"
          [useImagesLoaded]="true"

          infiniteScroll
          [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScrollGroups(false)">
        <ng-masonry-grid-item id="{{'search-masonry-item-'+i}}" [class.loaded]="imgDownloaded[i]" class="cardx" 
          *ngFor="let data of groupDataList;let i = index;">
          <a class="img" [routerLink]="getGroupSearchLink(data)">
            <img [attr.src]="getSanitizedGifUrl(data)" (load)="showThisImg(i)">
            <div class="desc">
              <span class="description">{{getGroup(data)}}</span>
            </div>
          </a>
        </ng-masonry-grid-item>
      </ng-masonry-grid>

      <app-infinite-component id="search-infinite-component" *ngIf="showGroupData" [dataList]="categoryGroupSearchDataList" (loadMoreData)="onLoadMoreData()"></app-infinite-component>

      <!--loading-->
      <div class="loading loading-more-indicator" *ngIf="showLoader">
        <div class="lds-ripple"><span></span><span></span><span></span></div>
      </div>
      <!--// loading-->
    </div>
  </div>
</div>